<div class="page-container">
	<a href="#/" class='back_link'>
		<img src="/images/retour.png">
	</a>
	<div class="clock-container">
		<h2>Choix de la pendule: </h2>
		<div class="clock-box" ng-click='selectClock(1)'>
			<img src="/images/clock1.png" width="300" height"300">
		</div>
		<div class="clock-box" ng-click='selectClock(2)'>
			<img src="/images/clock2.png" width="300" height"300">
		</div>
		<div class="clock-box" ng-click='selectClock(3)'>
			<img src="/images/clock3.png" width="300" height"300">
		</div>
	</div>
</div>
